/*  容器  start    */
.section {
    width: 1200px;
    margin: 0 auto;
}

.top {
    background-color: #fff;
}

/*  容器  end    */

/*  工具类  start    */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}
/*  工具类  end    */

/*   面板  start   */
.panel {
    width: 500px;
    margin: 20px auto 0;
    text-align: center;
    background-color: #fff;
    min-height: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px #eee;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.panel-title {
    font-size: 14px;
    text-align: left;
    line-height: 3;
    padding-left: 20px;
    height: 54px;
    color: #999999;
}

.panel-title a {
    color: #333333;
}

.panel-title a:hover {
    color: #5bd21a;
}

.panel:after,
.panel:before {
    content: '';
    background-color: #f2f2f2;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    box-shadow: 0 0 10px #eee;
    transition: transform .5s ease-out;
}

.panel:after {
    bottom: -10px;
    left: -20px;
}

.panel:before {
    top: -10px;
    right: -20px;
}

.panel:hover:after,
.panel:hover:before {
    transition: transform .5s ease-out;
    transform: scale(1.5);
}

/*   面板  end   */

/*   按钮  start   */

.btn {
    padding: .3em 1em;
    line-height: 2;
    background-color: #169bd5;
    border: 0 none;
    cursor: pointer;
    color: #fff;
    transition: opacity .5s ease;
    border-radius: 1em;
    font-size: 14px;
    letter-spacing: 2px;
}

.btn:hover {
    opacity: .7;
    transition: opacity .5s ease;
}

/*   按钮  end   */

/*   表格  start   */

.table-wrap {
    overflow: auto;
    white-space: nowrap;
    border-radius: 2em;
    margin: 1em 0;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}

tr:hover {
    background-color: #fff;
}

th,
td {
    line-height: 3em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.83);
}

/*   表格  end   */

/*   字长   start   */

.em-8 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 8em;
}

.em-4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 4em;
}

/*   字长   end   */